html {
    scroll-behavior: smooth;
}

body {
    background-color: #dedede;
    padding: 5px;
    margin: 15px;
    font-size: 25px;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 1.95em;
}

h2 {
    text-align: center;
}

li {
    margin-top: 20px;
}

img {
    border: 5px solid blue;
    border-radius: 35px;
    width: 100%;
}

figcaption {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: 95%;
    gap: 10px;
    justify-content: space-around;
}

@media screen and (min-width: 772px) {
    .grid {
        display: grid;
        grid-template-columns: 45% 45%;
    }

    img {
        border-radius: 50%;
    }

    figure:last-of-type {
        grid-column: 1/ span 2;
    }
}

@media screen and (min-width: 992px) {
    img {
        border-radius: 0;
    }

    figure:nth-of-type(3n) {
        grid-column: 1/ span 2;
    }
}

@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

@media (prefers-color-scheme: dark) {
    figure {
        background-color: rgb(96, 96, 96);
        padding-right: 10px;
        border-radius: 35px;
    }

    figcaption {
        color: yellow;
    }

    img {
        border: 5px solid black;
    }
}